@import '../variable.scss';

.layout {
    background-color: inherit;
    height: 100vh;
    width: 100%;
    display: flex;
    &_left{
        width:40%;
    }
    &_right{
        width: 60%;
    }
}
#cursor-shadow {
    position: absolute;
    top: 100px;
    left: 100px;
    box-shadow: 0 0 50rem 20px $mint;
    background-color: inherit;
    border-radius: 50%;
    pointer-events: none;
}